#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    top: 0;
    position: fixed;
    left: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}