.location-data {
    top: 70px;
    position: absolute;
    left: 5%;
    font-weight: bold;
    font-size: 20px;
}

.sign-out-button {
    position: fixed;
    top: 1%;
    right: 2%;
    background: none;
    font-size: 20px;
}

.weather-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    background-color: #f4f4f4;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #a7a7dd;
    border-right: 16px solid #8ed18e;
    border-bottom: 16px solid #dca8a8;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.top-section {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #e6e1ec;
    top: 0;
    left: 0;
    z-index: 1;
}

.top-section img {
    height: 70px;
    width: 70px;
    top: 0;
    position: fixed;
    left: 1%;
}

.top-section span {
    left: 10%;
    position: fixed;
    top: 4%;
    font-weight: bold;
    font-size: 20px;
}

.top-section .main-image {
    font-size: 45px;
    position: fixed;
    top: 0;
    left: 3%;
}

@media (max-width: 768px) {
    .weather-container {
        overflow-y: auto;
    }
}

@media (max-width: 480px) {
    .weather-container {
        width: 100%;
        overflow-y: auto;

    }
}

