.invalid-data {
    display: none;
    border: 2px solid #d5b9b9;
    background-color: #e8d1d1;
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    margin-bottom: 5px;
    text-align: left;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.login-form .remember-me label {
    margin-left: 5px;
}

.login-form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}